@layer base {
  :root {
    --shiki-color-text: theme('colors.white');
    --shiki-token-constant: theme('colors.violet.300');
    --shiki-token-string: theme('colors.violet.300');
    --shiki-token-comment: theme('colors.zinc.500');
    --shiki-token-keyword: theme('colors.sky.300');
    --shiki-token-parameter: theme('colors.pink.300');
    --shiki-token-function: theme('colors.violet.300');
    --shiki-token-string-expression: theme('colors.violet.300');
    --shiki-token-punctuation: theme('colors.zinc.200');
  }

  [inert] ::-webkit-scrollbar {
    display: none;
  }

  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

/* animation for the rainbow bar under '5 minutes crash course' */

.hover-effect::after {
  content: '';
  display: block;
  width: 0; /* Initial width is 0 so the bar is not visible */
  height: 2px; /* Height of the bar */
  background: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red); /* The gradient */
  background-size: 200% 100%;
  position: absolute;
  bottom: 0;
  right: 0; /* Positioned to the right */
  left: auto; /* Initially set to auto */
  transition: width 0.5s ease-in-out, left 0.5s ease-in-out; /* Transition for the slide-out effect */
  z-index: 10;
}

/* When hovered, the bar stretches from right to left */
.hover-effect:hover::after {
  width: 100%; /* Full width */
  left: 0; /* Align to the left side */
  transition: width 0.5s ease-in-out, left 0s 0.5s; /* Delay the left transition until the bar is full width */
  animation: rainbowCycle 3s linear infinite;
}

@keyframes rainbowCycle {
  0% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.hover-effect {
  position: relative;
}

@keyframes moveVerticalLines {
  0% { background-position: 50% 0%; }
  100% { background-position: 50% 100%; }
}





@tailwind base;
@tailwind components;
@tailwind utilities;
