@layer base {
  :root {
    --shiki-color-text: theme('colors.white');
    --shiki-token-constant: theme('colors.violet.300');
    --shiki-token-string: theme('colors.violet.300');
    --shiki-token-comment: theme('colors.zinc.500');
    --shiki-token-keyword: theme('colors.sky.300');
    --shiki-token-parameter: theme('colors.pink.300');
    --shiki-token-function: theme('colors.violet.300');
    --shiki-token-string-expression: theme('colors.violet.300');
    --shiki-token-punctuation: theme('colors.zinc.200');
  }

  [inert] ::-webkit-scrollbar {
    display: none;
  }

  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

/* animation for the rainbow bar under '5 minutes crash course' */

@keyframes rainbowCycle {
  0% { background-position: 0% 50%; }
  100% { background-position: -100% 50%; }
}

.hover-effect::after {
  content: '';
  display: block;
  width: 0; /* Start with 0 width */
  height: 2px;
  background: linear-gradient(
    to right, /* Adjust the direction to `to right` */
    violet, indigo, blue, green, yellow, orange, red,
    violet /* End with the same color to make the gradient seamless */
  );
  background-size: 200% 100%; /* Set the size to 200% to have the gradient twice */
  position: absolute;
  bottom: 0;
  right: 0;
  left: auto;
  transition: width 0.5s ease-in-out; /* Apply transition only to width */
  z-index: 10;
}

.hover-effect:hover::after {
  width: 100%; /* Full width on hover */
  left: 0;
  transition: width 0.5s ease-in-out; /* Apply transition only to width */
  animation: rainbowCycle 3s linear infinite; /* Corrected the duration */
}

.hover-effect {
  position: relative;
}


@tailwind base;
@tailwind components;
@tailwind utilities;
